:root{
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --main-color-black:black;
  --main-color-white:white;
  --main-color-red:red;
  --logout-button-bg-color: #ff0000;
  --logout-button-hover-bg-color: #cc0000;
  --main-color-blue:blue;
  --main-color-darkblue:darkblue;
  --main-color-green:green;
  --main-color-aque:aqua;
  --main-color-aquamarine: aquamarine;
  --main-color-purple-sm-white: rgb(236, 237, 238);
  --main-color-purple-bg-white: rgb(234, 234, 240);
  --main-color-purple-md-white:#b4acac;
  --text-align-center: center;
  --text-align-right: right;
  --text-align-left: left;
  --padding:0.3rem;
  --button-align-left: end;
  --font-weight: bold;
}


.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background:var( --main-color-black);
    padding: 2rem;
    text-decoration: none;
    color:var(--main-color-white);
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    margin-right: 200px;
  }
  .logout
  {
    color: var(--main-color-white);
    background-color: var(--logout-button-bg-color);
    padding: var(--padding);
  }
  .logout:hover
  {
    color: var(--main-color-white);
    background-color: var(--logout-button-hover-bg-color);
  }
  .login
  {
    color: var(--main-color-white);
    background-color: var(--main-color-blue);
    padding: var(--padding);
  }
  .login:hover
  {
    color: var(--main-color-white);
    background-color: var(--main-color-darkblue);
  }

  
  .hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: end;
    justify-content: end;
    text-align: end;
    color: var(--main-color-white);
  }
  
  .menu {
    display: flex;
    gap: 2rem;
    color: var(--main-color-white);
    margin-right: 35px;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .menu-link {
    text-decoration: none;
    color: var(--main-color-white);
    font-size: 1.2rem;
  }
  .link
  {
    text-decoration: none;
    color: var(--main-color-white);
    gap: 2rem;
    margin-top: 10%;
  }
  
  .menu-link:hover {
    color:var( --main-color-green);
  }
  img{
    text-align: center;
    margin: auto;
    width: 400px;
  }
  .home
  {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 20%;
  }
  .about
  {
    text-align: start;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
    margin-left: 20%;
  }
  .about-heading
  {
    color: var(--main-color-darkblue);
    text-align: var(--text-align-center);
    font-weight: var(--font-weight);
  }
 .contact
{
  display: flex;
  flex-direction: column;
  width: 600px;
  gap:0.5rem;
  margin: auto;
  background-color: var( --main-color-purple-md-white);
  padding: 2rem;
  margin-top: 100px;
  border-radius: 10%;
  margin-right: 20%;
  font-weight: var(--font-weight);
}
.contact-heading
{
  text-align:var( --text-align-center) ;
}
.contactsubmitbutton
{
  text-align:var( --text-align-center) ;
  justify-content: var( --text-align-center);
   align-items: var( --text-align-center);
   color: var(--main-color-white);
   background-color: var(--main-color-blue);
   padding: var(--padding);
   position: var(--button-align-left);
}
.contacteditform
{
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 600px;
  gap:0.5rem;
  margin: auto;
  background-color: var( --main-color-purple-md-white);
  padding: 2rem;
  margin-top: 100px;
  margin-right: 30%;
  position: absolute;
  font-weight: var(--font-weight);
}
.esitnamesection
{
  color: var(--main-color-white);
  background-color: var( --secondary-color);
  padding: var(--padding);
}
.button-schedule-interview
{
  color: var(--main-color-white);
  background-color: var(--main-color-blue);
}
.editformheading
{
  text-align:var( --text-align-center) ;
  font-weight: var(--font-weight);
}
.editprofile-button
{
  color: var(--main-color-white);
  background-color: var(--main-color-blue);
  padding: var(--padding);
}
.editcross-button
{
  color: var(--main-color-white);
  background-color: var(--main-color-red);
}
.internship-heading
{
  text-align:var( --text-align-center) ;
  font-weight: var(--font-weight);
  color: var(--main-color-darkblue);
}
.viewmore-button
{
  color: var(--main-color-green);
  text-align: var(--text-align-center);
  text-decoration: none;
  font-weight: var(--font-weight);
}
.apply-button-form
{
  color: var(--main-color-white);
  background-color: var(--main-color-blue);
  padding: var(--padding);
}
/* button
{
  color: var(--main-color-white);
  background-color:var(--main-color-blue);
  padding: 1rem;
} */
.columnavbaritem {
  text-align:center;
  justify-content:center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color:var( --main-color-black);
 color: var(--main-color-white);
  font-size: 20px;
  gap: 3rem;
  position: fixed;
  padding: 1rem;
  z-index: 1000; 
  top: 0%;
  margin: auto;
  height: 100%;
  
}
.hrlogin-navbar
{
  text-align: start;
  justify-content: start;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color:var( --main-color-black);
 color: var(--main-color-white);
  font-size: 20px;
  gap: 1.2rem;
  position: fixed;
  padding: 1rem;
  z-index: 1000; 
  top: 0%;
  margin: auto;
  height: 100%;
}
.profilesection {
  text-align: start;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}
.profile
{
  border: 1px solid var( --main-color-black);
  border-radius: 50%;
  padding: 2rem;
  width: 8%;
  height: 10%;
  background-color: var( --main-color-purple-md-white);
}
.registration
{
  margin-left: 22%;
  display: flex;
  flex-direction: column;
  /* width: 500px; */
}
.interndata
{
  margin-left: 20%;
}
.form
{
  display: flex;
  flex-direction: column;
}
.formsection
{
  background-color:var( --main-color-purple-md-white);
  padding: 2rem;
  margin-top: 2%;
  width: 50%;
  gap: 1rem;
}
.box
{
  text-align: start;
  justify-content: start;
  align-items: start;
  border:  1px solid var( --main-color-black);
  gap:2rem;
  margin-bottom: 2rem;
}
.Aboutus
{
margin-left: 20%;
}
.datalistlogin
{
  display: flex;
  flex-direction: row;
  gap: 25%;
  padding: 1rem;
  background-color:  var( --main-color-purple-md-white);
}
.datalistintern
{
  display: flex;
  flex-direction: row;
  gap: 25%;
  padding: 1rem;
  background-color: var( --main-color-purple-md-white);
}
.datalistloginpage
{
  display: flex;
  flex-direction: row;
  gap: 15%;
  padding: 1rem;
}
.datalistjobpage
{
  display: flex;
  flex-direction: row;
  gap: 15%;
  padding: 1rem;
}
.loginandsinguform
{
  text-align: start;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:1rem;
  background-color: var( --main-color-purple-md-white);
  width: 600px;
  margin: auto;
  margin-top: 5rem;
  border-radius: 5%;
  padding: 3rem;
  font-weight: bold;
}
.input_space,input[type="text"],[type="email"],[type="Phone"],input[type="password"],textarea
{
  width: 500Px;
  padding: 0.4rem;
}
.loginandsinghform
{
  margin-left: 20%;
  text-align: start;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:1rem;
  background-color: var( --main-color-purple-md-white) ;
  width: 600px;
  margin: auto;
  margin-top: 5rem;
  border-radius: 5%;
  padding: 3rem;
  font-weight: bold;
}
.login-and-signup-button
{
  display: flex;
  gap: 1rem;
  background-color:var(--main-color-blue);
  padding: 1rem;
  font-weight: bold;
  border-radius: 10%;

}
.hrdashbord
{
  margin-left: 21%;
  margin-right: 1%;
  margin-top: 2%;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  row-gap: 1rem;
}
.row
{
  row-gap: 1rem;
  /* column-gap: 0.01rem; */
}
.divcol1
{
  border: 1px solid var( --main-color-black);
  column-gap: 1rem;
  border-radius: 10%;
  padding: 4rem;
  background-color: var( --main-color-aque);
}
.applicationcount
{
  font-weight: bold;
  font-size: 40px;
}
.applicationform-internship
{
  background-color: var( --main-color-aquamarine);
  position: absolute;
  text-align: start;
  padding: 2rem;
}
.job-application-form
{
  
  background-color: var( --main-color-aquamarine);
  position: absolute;
  text-align: start;
  padding: 2rem;
}
.headinginternship
{
  text-align: center;
}
.datalistjobpage
{
  padding: 2rem;
  position: relative;
  /* background-color: var(--main-color-aque); */
}
.viewalldata
{
  margin-left: 2%;
  margin-right: 2%;
  background-color: var( --main-color-aque);
  padding: 3rem;
  gap: 2rem;
  font-size: 30px;
  border: 2px solid var( --main-color-black);
  color:var(--main-color-blue);
}
.status
{
  text-align: center;
  margin-top: 10px;
  color:var( --main-color-darkblue);
}
.admimform
{
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  position: absolute;
  background-color: var(  --main-color-purple-md-white);
  padding: 2rem;
  gap: 1rem;
}
.applicationstatus
{
  background-color:var(--main-color-blue);
  color: var(--main-color-white);
  /* border-radius: 40%; */
  padding: 0.5rem;
}
.displaydata
{
  text-align: start;
  justify-content: start;
  align-items: start;
  border:  1px solid var( --main-color-black);
column-gap: 2rem;
  /* margin-left: 2%; */
  margin-top: 2rem;
}
.creatinternshipbutton
{
  margin-top: 10%;
  font-weight: var(--font-weight);
  padding: var(--padding);
  color: var(--main-color-white);
  background-color: var(--main-color-blue);

}
#aboutusimage
{
background-size: cover;
}
.contactus
{
  margin-left: 20%;
}
.viewcontactdetail
{
  text-align: start;
  justify-content: center;
  padding: 2rem;
  margin-left: 2%;
  margin-right: 2%;
  background-color:var(--main-color-blue);
  color: var(--main-color-white);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  gap:1rem;
  border: 1px solid var( --main-color-black);
}
.contactus
{
  margin-left: 20%;
}
.dashbord-text-form-count
{
  color: var(--main-color-darkblue);
}
.view-job-applcation-detail
{
 color: var(--main-color-white);
 background-color: var(--main-color-blue);
 padding: var(--padding);
}
.reply-users
{
  color: var(--main-color-white);
  background-color: var(--primary-color);
}
.create-internship
{
 color: var(--main-color-white);
 background-color: var(--main-color-blue);
 padding: var(--padding);
}
.creat-internship-form
{
  text-align: var(--text-align-center);
  font-weight: var(--font-weight);
}
.admin-login
{
  color: var(--main-color-white);
  background-color: var(--main-color-blue);
  padding: var(--padding);
}
.services
{
  margin-left: 20%;
}
.box-of-services {
  background-color:var(--main-color-blue);
  color: var(--main-color-white);
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Services-heading
{
  color: var(--main-color-darkblue);
  font-weight: var(--font-weight);
}
.Admin-heading
{
  color: var(--main-color-darkblue);
  font-weight: var(--font-weight);
}
/* sliders image */
.slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.slide.active {
  left: 0;
  opacity: 1;
}

  
  @media (max-width: 768px) {
    .hamburger {
      display: block;
      text-align: end;
      justify-content: end;
    }
    .menu {
      display:block;
      flex-direction: column;
      text-align: end;
      width: 100%;
    }
    .menu.open {
      display: flex;
      text-align: end;
    }
  }
  
  